.org-c3af7b08-07d8-4a3e-8b12-5b6de87acf0c .inner-content{
    height : 98px;
}

#map {
    height: 680px;
}
.icon-copy:before {
    content: '\f237';
}


.form-control{
    border: 1px solid #ccc;
    border-radius: 4px;
}


.document {
    border: thin solid #f2eee2;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    margin-top: 0;
    background-color: rgba(242,238,226,0.5);
    text-align: left;
}


div.gallery {
    border: 1px solid #ccc;
    height: 350px;
    padding: 5px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 250px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 5px ;
    float: left;
    width: 33%;

}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
    width: 13px;
}

.input-group-addon-text{
    width: 80px;
    color: #337ab7;
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
}

.ui-datepicker{
    z-index: 100 !important;
}


.starter-template {
    padding: 5px 15px;
    text-align: center;
}

#map {
    height: 680px;
}

footer {
    background-color:#FFF6C4;
    color:#002E70;
}

/* Minor fix to make sure the content is in the container */

.inner-content {
    height:auto;
}