.org-c3af7b08-07d8-4a3e-8b12-5b6de87acf0c .inner-content{
    height : 98px;
}

#map {
    height: 680px;
}
.icon-copy:before {
    content: '\f237';
}


.form-control{
    border: 1px solid #ccc;
    border-radius: 4px;
}


.document {
    border: thin solid #f2eee2;
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    margin-top: 0;
    background-color: rgba(242,238,226,0.5);
    text-align: left;
}


div.gallery {
    border: 1px solid #ccc;
    height: 350px;
    padding: 5px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: auto;
    max-width: 300px;
    height: auto;
    max-height: 250px;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 5px ;
    float: left;
    width: 33%;

}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.clippy {
    margin-top: -3px;
    position: relative;
    top: 3px;
    width: 13px;
}

.input-group-addon-text{
    width: 80px;
    color: #337ab7;
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%);
}

.ui-datepicker{
    z-index: 100 !important;
}


.starter-template {
    padding: 5px 15px;
    text-align: center;
}

#map {
    height: 680px;
}

footer {
    background-color:#FFF6C4;
    color:#002E70;
}

/* Minor fix to make sure the content is in the container */

.inner-content {
    height:auto;
}

.global-footer .logo {
    height: 48px !important;
    width: 7rem;
    margin-bottom: 20px;
}

.global-footer p {
    margin: 0 auto 0.7rem !important;
}

@media print, screen and (min-width: 64em) {
    .logo {
        width: 7rem !important;
    }
}

/* icons from rdl */

@font-face {
    font-family: 'rdl-icons';
    src: url("../assets/fonts/rdl-icons.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: block; 
}

.rdl-icons {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'rdl-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 20px;
    /* Preferred icon size */
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    font-variant-ligatures: discretionary-ligatures;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.global-footer .some-icons a {
    background-color: white;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin-right: 12px; 
}

.global-footer .some-icons a i {
	font-size: 0.875rem;
	color: #002E70;
}

.global-footer .some-icons a:hover, .global-footer .some-icons a:focus {
	text-decoration: none;
}